.home {
    margin: 50px 100px;
}

@media screen and (max-width: 1440px) {
    .home {
        margin: 50px 6.9vw;
    }
}

@media screen and (max-width: 768px) {
    .home {
        margin: 27px 20px;
    }    
}